<h3>Shopping Cart</h3>
<div>#/Products: {{ data.order.items.length }}</div>
<div>#/Items: {{ data.order.totalitems }}</div>
<div>Subtotal: {{ data.order.subtotal | currency:'USD' }} </div>

<!-- Smaller and reponsive to mouse -->
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <td>Product</td>
            <td>#</td>
            <td>$</td>
            <td>Total</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of data.order.items">
            <td>{{ o.productCategory }} - {{ o.productTitle }} </td>
            <td>{{ o.quantity }}</td>
            <td>{{ o.unitPrice | currency:'USD' }}</td>
            <td>{{ (o.unitPrice * o.quantity) | currency:'USD' }}</td>
            <td>
                <button id="removeButton" class="btn btn-warning btn-sm pull-right" (click)="removeItem(o)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>
<!-- Gated by auth since this is e-commerce, we can shop while logged out, event handler in parentheses again.  Button needed for quick event -->
<button routerLink="checkout" class="btn btn-success" *ngIf="data.order.items.length > 0" (click)="onCheckout()">Checkout</button>